body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("Background1.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-right: 10px;
  padding-bottom: 50px;
}

.title {
  font-weight: bold;
  color: #fff;
  text-decoration: wavy;
  text-align: center;
  padding-top: 3em;
}

/*Navigation Bar*/
/*----------------------------------------------------------------------------------------------------------*/
header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 100px;
  background: #262626;
  width: 100%;
  box-sizing: border-box;
  opacity: 0.9;
}

header .logo {
  color: #fff;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  float: left;
  font-weight: bold;
}

header nav {
  float: right;
}

header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li {
  list-style: none;
}
header nav ul li a {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
}

header nav ul li a:hover,
header nav ul li a.active {
  color: #fff;
  background: linear-gradient(90deg, #9823db, #d82cbb);
}

.menu-toggle {
  color: #fff;
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

@media (max-width: 991px) {
  header {
    padding: 0 20px;
  }
  .menu-toggle {
    display: block;
  }
  header nav {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #333;
    top: 50px;
    left: -100%;
    transition: 0.5s;
  }
  header nav.active {
    left: 0;
  }
  header nav ul {
    display: block;
    text-align: center;
  }
  header nav ul li a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}
/*----------------------------------------------------------------------------------------------------------*/

/*Rainbow scrollbar*/
/*----------------------------------------------------------------------------------------------------------*/
::-webkit-scrollbar {
  width: 0;
}

/*Rainbow scrollbar*/
#scrollPath {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}

#progressbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  background: linear-gradient(to top, #008aff, #00ffe7);
  animation: progressbarAnimate 5s linear infinite;
}
@keyframes progressbarAnimate {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}
#progressbar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(10px);
}
#progressbar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(30px);
}
/*----------------------------------------------------------------------------------------------------------*/

/*Log in*/
/*----------------------------------------------------------------------------------------------------------*/
.loginBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  box-shadow: 0 0 205px rgba(238, 12, 238, 0.5);
  box-shadow: 0 0 205px rgba(238, 12, 238, 0.5);
  border-radius: 10px;
}

.loginBox h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.loginBox .inputBox {
  position: relative;
}

.loginBox .inputBox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #9823db;
  outline: none;
  background: transparent;
}

.loginBox .inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  pointer-events: none;
  transition: 0.5s;
}
.loginBox .inputBox input:focus ~ label,
.loginBox .inputBox input:valid ~ label {
  top: -20px;
  left: 0;
  color: #9823db;
  font-size: 12px;
}
.loginBox input[type="submit"] {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  background: #9823db;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
/*----------------------------------------------------------------------------------------------------------*/

.learn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: center;
  min-height: 100vh;
}

.learnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: center;
  min-height: 600px;
  margin: 40px 0;
}

.learnContainer .learnCard {
  position: relative;
  min-width: 320px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
}

.learnContainer .learnCard .learnBox {
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background: #2a2b2f;
  border: 2px solid #1e1f23;
  border-radius: 15px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  overflow: hidden;
}

.learnContainer .learnCard .learnBox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  pointer-events: none;
}

.learnContainer .learnCard .learnBox:hover {
  transform: translateY(-50px);
  box-shadow: 0 40px 70px rgba(0, 0, 0, 0.5);
}

.learnContainer .learnCard .learnBox .learnContent {
  padding: 20px;
  text-align: center;
}

.learnContainer .learnCard .learnBox .learnContent h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8em;
  color: rgba(255, 255, 255, 0.05);
}

.learnContainer .learnCard .learnBox .learnContent h3 {
  font-size: 1.8em;
  color: rgba(255, 255, 255, 0.5);
  z-index: 1;
  transition: 0.5s;
}

.learnContainer .learnCard .learnBox .learnContent p {
  font-size: 16px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
  z-index: 1;
  transition: 0.5s;
}

.learnContainer .learnCard .learnBox .learnContent a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: #000;
  margin-top: 15px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 400;
  color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.learnContainer .learnCard:nth-child(1) .learnBox .learnContent a {
  background: #9823db;
}

.learnContainer .learnCard:nth-child(2) .learnBox .learnContent a {
  background: #9823db;
}

.learnContainer .learnCard:nth-child(3) .learnBox .learnContent a {
  background: #9823db;
}
