<!DOCTYPE html>
<html>
  <head>
    <title>Learn Special Relativity</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"> />
  </head>
  <body onload="init();">
    <div id="progressbar"></div>
    <div id="scrollPath"></div>
    <header>
      <div class="logo"><img src="{{ url_for('static', filename='logoi.png') }}" class="logopic" /> LSR</div>
      <nav>
        <ul>
          <li><a class="navButton" href="{{ url_for('home')}}">Home</a></li>
          <li><a class="navButton" href="{{ url_for('learn')}}">Learn</a></li>
          <li><a class="navButton" href="#">Stats</a></li>
          <li><a class="navButton login active" href="#">Login</a></li>
        </ul>
      </nav>
      <div class="menu-toggle">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </div>
    </header>
    <div class="loginBox">
      <h2>Login</h2>
      <form action="" method="post">
        <div class="inputBox">
          <input type="text" name="username" required="" value="{{ request.form.username }}" />
          <label>Username</label>
        </div>
        <div class="inputBox">
          <input type="password" name="password" required="" value="{{ request.form.password }}" />
          <label>Password</label>
        </div>
        <input type="submit" name="" value="Login" />
      </form>

      {% if error %}
        <p class = "error"> Error!!! {{ error }} </p>
      {% endif %}
      </form>
    </div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  </body>
</html>
