<!DOCTYPE html>
<html>
  <head>
    <title>Learn Special Relativity</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href=""{{ url_for('static', filename='style.css') }}"" />
  </head>
  <body onload="init();">
    <div id="progressbar"></div>
    <div id="scrollPath"></div>
    <header>
      <div class="logo"><img src="{{ url_for('static', filename='css/logoi.png') }}" class="logopic" /> LSR</div>
      <nav>
        <ul>
          <li><a class="navButton" href="{{ url_for('home')}}">Home</a></li>

          <li><a class="navButton active" href="{{ url_for('learn')}}">Learn</a></li>

          <li><a class="navButton" href="#">Stats</a></li>
          <li><a class="navButton login" href="{{ url_for('login')}}">Login</a></li>
        </ul>
      </nav>
      <div class="menu-toggle">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </div>
    </header>
    <div class="col-md-4"></div>

    <div class="col-md-4 container">
      <h1>Theory</h1>
      <p class = "content">
        The theory of special relativity was developed by Albert Einstein in 1905. It is based on the assumption that the
        <span id="speed-of-light">speed of light</span> is observed to be the same no matter the <span id="rel-motion">relative
          motion</span> between the observer and the light source.
        <br><br>
        The theory of special relativity holds within and between <span id="inertial">inertial frames of reference</span>. We
        will only consider objects that have constant relative speeds — no acceleration is involved.
        <br><br>
        The assumption that the speed of light is constant in all reference frames implies that other quantities, that might
        ordinarily appear to be constant, are actually relative between observers within different reference frames.
        <br><br>
        To preserve a constant speed of light between observers moving at a relative speed, <span id="space-time">space-time
        </span> must appear different to each of them. In the following lesson we will use examples to present this.
      </p>
    </div>
    <div class="col-md-4"></div>
  </body>
</html>
