<!DOCTYPE html>
<html>
	<head>
		<title id="title">{% block title %}{% endblock %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
		<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap" rel="stylesheet" />
		<link rel="icon" href="{{ url_for('static', filename='pictures/logoi.png') }}" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<script src="{{ url_for('static', filename='script.js') }}"></script>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
	</head>
	<body onload="init('{{theme}}');">
		<div id="progressbar"></div>
		<div id="scrollPath"></div>
		<header>
			<div class="logo">
				<img src="{{ url_for('static', filename='pictures/logoi.png') }}" class="logopic" /> LSR
			</div>
			<nav>
				<ul>
					<li><a class="navButton navHome" href="{{ url_for('routes.home')}}">Home</a></li>
					<li><a class="navButton navLearn" href="{{ url_for('routes.learn')}}">Learn</a></li>
					<li><a class="navButton navStats" href="{{ url_for('routes.stats')}}">Stats</a></li>
					{% if user.is_authenticated %}
					<li><a class="navButton navLogout" href="{{ url_for('auth.logout')}}">Logout</a></li>
					{% else %}
					<li><a class="navButton navLogin" href="{{ url_for('auth.login')}}">Login</a></li>
					{% endif %}
				</ul>
			</nav>
			<div class="menu-toggle">
				<i class="fa fa-bars" aria-hidden="true"></i>
			</div>
		</header>
		{% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category,
		message in messages %} {% if category == "error" %}
		<div class="alert alert-danger fade show" role="alert">{{ message }}</div>
		{% else %}
		<div class="alert alert-success fade show" role="alert">{{ message }}</div>
		{% endif %} {% endfor %} {% endif %} {% endwith %} {% block content %} {% endblock %}
	</body>
</html>
