{% extends "base.html" %}{% block title %}LSR - Home{% endblock %}{% block content %}
<h1 id="title">Learn Special Relativity</h1>
<div class="rocket rocket1">
	<img src="{{ url_for('static', filename='pictures/rocket.png') }}" class="rocketIcon" />
</div>
<div class="rocket rocket2">
	<img src="{{ url_for('static', filename='pictures/rocket.png') }}" class="rocketIcon" />
</div>
<p class="about">
	This is an educational website created by Jasper Paterson, Jordan Hartley and Maxwell Dix-Matthews. To learn
	the basics of special relativity, create an account and read through the three lessons. When you're ready,
	complete the tests to cement your knowledge.
</p>
<form method="POST">
	<input type="radio" name="colour" value="Blue" />
	<label for="Blue"><span class="quizLetter">A</span>Blue</label>

	<input type="radio" name="colour" value="Green" />
	<label for="Green"></label><span class="quizLetter">B</span> Green</label>
	<br />
	<input type="radio" name="colour" value="Purple" />
	<label for="Purple"><span class="quizLetter">C</span>Purple</label>

	<input type="radio" name="colour" value="Red" />
	<label for="Red"><span class="quizLetter">D</span>Red</label>
	<input class="submit" id="submit" type="submit" value="Submit" />
</form>

{% endblock %}
