{% extends "base.html" %}{% block title %}LSR - Home{% endblock %}{% block content %}
<h1 id="homeTitle">Learn Special Relativity</h1>
<div class="rocket rocket1">
	<img src="{{ url_for('static', filename='pictures/rocket.png') }}" class="rocketIcon" />
</div>
<div class="rocket rocket2">
	<img src="{{ url_for('static', filename='pictures/rocket.png') }}" class="rocketIcon" />
</div>
<p class="about">
	This is an educational website created by Jasper Paterson, Jordan Hartley and Maxwell Dix-Matthews in 2021.
	To learn the basics of special relativity, create an account and study the short lessons. Complete the tests
	to cement your knowledge!
</p>
{% endblock %}
