{% extends "base.html" %}{% block title %}LSR - Lessons{% endblock %}{% block content %}
<div class="learnContainer">
	<div class="learnCard">
		<div class="learnBox">
			<div class="learnContent">
				<h2>01</h2>
				<h3>Lesson One</h3>
				<p>The Theory</p>
				<a href="{{ url_for('routes.lesson1')}}">Go to Lesson</a>
				<a href="{{ url_for('routes.test1')}}">Test Yourself</a>
			</div>
		</div>
	</div>
	<div class="learnCard">
		<div class="learnBox">
			<div class="learnContent">
				<h2>02</h2>
				<h3>Lesson Two</h3>
				<p>The Train</p>
				<a href="{{ url_for('routes.lesson2')}}">Go to Lesson</a>
				<a href="{{ url_for('routes.test2')}}">Test Yourself</a>
			</div>
		</div>
	</div>
	<div class="learnCard">
		<div class="learnBox">
			<div class="learnContent">
				<h2>03</h2>
				<h3>Lesson Three</h3>
				<p>The Spaceship</p>
				<a href="{{ url_for('routes.lesson3')}}">Go to Lesson</a>
				<a href="{{ url_for('routes.test3')}}">Test Yourself</a>
			</div>
		</div>
	</div>
</div>
<div class="progressContainer">
	<div class="progressCard">
		<h4>Your Top Score</h4>
		<div class="progressBox">
			<div>
				<div class="progressPercent">
					<svg>
						<circle cx="70" cy="70" r="70"></circle>
						<circle
							cx="70"
							cy="70"
							r="70"
							style="stroke-dashoffset: calc(440px - (440px * {{ bestAttempt1 }}) / 100)"
						></circle>
					</svg>
					<div class="progressNumber">
						<h2>{{ bestAttempt1 }}<span>%</span></h2>
					</div>
				</div>
			</div>
		</div>
		<div class="progressText">Test 1</div>
	</div>
	<div class="progressCard">
		<h4>Your Top Score</h4>
		<div class="progressBox">
			<div>
				<div class="progressPercent">
					<svg>
						<circle cx="70" cy="70" r="70"></circle>
						<circle
							cx="70"
							cy="70"
							r="70"
							style="stroke-dashoffset: calc(440px - (440px * {{ bestAttempt2 }}) / 100)"
						></circle>
					</svg>
					<div class="progressNumber">
						<h2>{{ bestAttempt2 }}<span>%</span></h2>
					</div>
				</div>
			</div>
		</div>
		<div class="progressText">Test 2</div>
	</div>
	<div class="progressCard">
		<h4>Your Top Score</h4>
		<div class="progressBox">
			<div>
				<div class="progressPercent">
					<svg>
						<circle cx="70" cy="70" r="70"></circle>
						<circle
							cx="70"
							cy="70"
							r="70"
							style="stroke-dashoffset: calc(440px - (440px * {{ bestAttempt3 }}) / 100)"
						></circle>
					</svg>
					<div class="progressNumber">
						<h2>{{ bestAttempt3 }}<span>%</span></h2>
					</div>
				</div>
			</div>
		</div>
		<div class="progressText">Test 3</div>
	</div>
</div>
<div class="rocket rocket4">
	<img src="{{ url_for('static', filename='pictures/rocket.png') }}" class="rocketIcon" />
</div>
{% endblock %}
