<!DOCTYPE html>
<html>
	<head>
		<title>Learn Special Relativity</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
		<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap" rel="stylesheet" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<script src="{{ url_for('static', filename='script.js') }}"></script>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
	</head>
	<body onload="init();">
		<div id="progressbar"></div>
		<div id="scrollPath"></div>
		<header>
			<div class="logo">
				<img src="{{ url_for('static', filename='pictures/logoi.png') }}" class="logopic" />
				LSR
			</div>
			<nav>
				<ul>
					<li>
						<a class="navButton" href="{{ url_for('routes.home')}}">Home</a>
					</li>
					<li>
						<a class="navButton active" href="{{ url_for('routes.learn')}}">Learn</a>
					</li>
					<li><a class="navButton" href="#">Stats</a></li>
					{% if user.is_authenticated %}
					<li>
						<a class="navButton" href="{{ url_for('auth.logout')}}">Logout</a>
					</li>
					{% else %}
					<li>
						<a class="navButton login" href="{{ url_for('auth.login')}}">Login</a>
					</li>
					{% endif %}
				</ul>
			</nav>
			{% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category,
			message in messages %} {% if category == "error" %}
			<div class="alert alert-danger alert-dismissable fade show" role="alert">
				{{ message }}
				<button type="button" class="close" data-dismiss="alert">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			{% else %}
			<div class="alert alert-success alert-dismissable fade show" role="alert">
				{{ message }}
				<button type="button" class="close" data-dismiss="alert">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			{% endif %} {% endfor %} {% endif %} {% endwith %}
			<div class="menu-toggle">
				<i class="fa fa-bars" aria-hidden="true"></i>
			</div>
		</header>
		<div class="lessonBox">
			<h2>Lesson 1</h2>
			<div id="l11" style="display: block">
				<p>
					The theory of special relativity was developed by Albert Einstein in 1905. It is based on the
					assumption that the
					<span id="speed-of-light">speed of light</span> is observed to be the same no matter the
					<span id="rel-motion">relative motion</span> between the observer and the light source. The theory
					of special relativity holds within and between
					<span id="inertial">inertial frames of reference</span>. We will only consider objects that have
					constant relative speeds — no acceleration is involved. <br /><br />
				</p>
				<div class="diagramBox">
					<img class="diagram" src="{{ url_for('static', filename='pictures/einstein.jpeg') }}" />
				</div>
			</div>
			<div id="l12" style="display: none">
				<p>
					The assumption that the speed of light is constant in all reference frames implies that other
					quantities, that might ordinarily appear to be constant, are actually relative between observers
					within different reference frames. To preserve a constant speed of light between observers moving at
					a relative speed,
					<span id="space-time">space-time </span> must appear different to each of them. In the following
					lesson we will use examples to present this.
					<a href="{{ url_for('routes.test1') }}">Take the test</a> for this section.
				</p>
			</div>
		</div>
		<div class="row switchPages">
			<div id="prev-1" class="pageButton" style="display: none">PREV</div>
			<div id="go-test-1" class="pageButton" style="display: none">
				<a href="{{ url_for('routes.test1') }}">TEST</a>
			</div>
			<div id="next-1" class="pageButton" style="display: block">NEXT</div>
		</div>
	</body>
</html>
