<!DOCTYPE html>
<html>
  <head>
    <title>Learn Special Relativity</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body onload="init();">
    <div id="progressbar"></div>
    <div id="scrollPath"></div>
    <header>
      <div class="logo"><img src="{{ url_for('static', filename='pictures/logoi.png') }}" class="logopic" /> LSR</div>
      <nav>
        <ul>
          <li><a class="navButton" href="{{ url_for('routes.home')}}">Home</a></li>
          <li><a class="navButton active" href="{{ url_for('routes.learn')}}">Learn</a></li>
          <li><a class="navButton" href="#">Stats</a></li>
          <li><a class="navButton login" href="{{ url_for('auth.login')}}">Login</a></li>
        </ul>
      </nav>
      <div class="menu-toggle">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </div>
    </header>
    <div class="col-md-4"></div>
    <div class="col-md-4 container">
      <h1>Theory</h1>
      <p class = "content">
        If we performed this experiment on a real train, we would not be able to observe a difference in the elapsed time for both observers. This is because
        trains do not travel fast enough to create a noticeable dilation of time. Test this yourself by plugging in the average speed of a train into the
        <span id="lorentz">Lorentz factor</span> in a calculator. The result should show up as 1 (but with enough decimal places, it would be ever so slightly
        higher).

        In this final lesson we will explore an example of time dilation in space travel. Consider a set of twins, one on a space ship that travels from Earth to
        another planet and back again, and the other left standing on Earth.

        The observer on Earth experiences themselves as stationary while their twin is moving away from them, and so believes that they are observing proper time.
        Therefore time must be dilating for their twin, who would return from their journey having aged far less than the observer who stayed on Earth.

        However due to relative motion, the twin on the spaceship believes it is themselves and their spaceship that is stationary while the Earth and their twin
        zoom away behind them. They would predict that it is the observer on Earth who would be younger when they reunite.

        The twins can’t both be younger than the other, giving rise to the twins paradox. It is not a true paradox because only the observer on Earth is correct.
        The error lies in the fact that the spaceship’s motion is not constant — it must stop, turn around, and travel with a different velocity to get back to
        Earth again. This can be explained in much more detail in other parts of the internet.

        In the test for this section you will be guided through what really occurred during this experiment.
      </p>
    </div>
    <div class="col-md-4"></div>
  </body>
</html>
