{% extends "base.html" %}{% block title %}LSR - Lesson 2{% endblock %} {% block content %}

<table class="chooseTestTable">
	<tr>
		<td class="chooseTest chooseActive">Test 1</td>
		<td class="chooseTest">Test 2</td>
		<td class="chooseTest">Test 3</td>
	</tr>
</table>

<div class="progressContainer">
	<div class="progressCard">
		<h4>Top Score</h4>
		<div class="progressBox">
			<div>
				<div class="progressPercent">
					<svg>
						<circle cx="70" cy="70" r="70"></circle>
						<circle
							cx="70"
							cy="70"
							r="70"
							style="stroke-dashoffset: calc(440px - (440px * {{ topScore1 }}) / 100)"
						></circle>
					</svg>
					<div class="progressNumber">
						<h2>{{ topScore1 }}<span>%</span></h2>
					</div>
				</div>
			</div>
		</div>
		<div class="progressText">Test 1</div>
	</div>
	<div class="progressCard">
		<h4>Average Score</h4>
		<div class="progressBox">
			<div>
				<div class="progressPercent">
					<svg>
						<circle cx="70" cy="70" r="70"></circle>
						<circle
							cx="70"
							cy="70"
							r="70"
							style="stroke-dashoffset: calc(440px - (440px * {{ avScore1 }}) / 100)"
						></circle>
					</svg>
					<div class="progressNumber">
						<h2>{{ avScore1 }}<span>%</span></h2>
					</div>
				</div>
			</div>
		</div>
		<div class="progressText">Test 1</div>
	</div>
	{% if user.is_authenticated %}
	<div class="progressCard">
		<h4>Your Top Score</h4>
		<div class="progressBox">
			<div>
				<div class="progressPercent">
					<svg>
						<circle cx="70" cy="70" r="70"></circle>
						<circle
							cx="70"
							cy="70"
							r="70"
							style="stroke-dashoffset: calc(440px - (440px * {{ bestAttempt3 }}) / 100)"
						></circle>
					</svg>
					<div class="progressNumber">
						<h2>{{ bestAttempt3 }}<span>%</span></h2>
					</div>
				</div>
			</div>
		</div>
		<div class="progressText">Test 1</div>
	</div>
	{% endif %}
</div>

{% endblock %}
