<!DOCTYPE html>
<html>
	<head>
		<title>Learn Special Relativity</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
		<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap" rel="stylesheet" />
		<link rel="icon" href="{{ url_for('static', filename='pictures/logoi.png') }}" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<script src="{{ url_for('static', filename='script.js') }}"></script>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
	</head>
	<body onload="init();">
		<div class="progressbar"></div>
		<div class="scrollPath"></div>
		<header>
			<div class="logo">
				<img src="{{ url_for('static', filename='pictures/logoi.png') }}" class="logopic" /> LSR
			</div>
			<nav>
				{% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category,
				message in messages %} {% if category == "error" %}
				<div class="alert alert-danger alert-dismissable fade show" role="alert">
					{{ message }}
					<button type="button" class="close" data-dismiss="alert">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				{% else %}
				<div class="alert alert-success alert-dismissable fade show" role="alert">
					{{ message }}
					<button type="button" class="close" data-dismiss="alert">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				{% endif %} {% endfor %} {% endif %} {% endwith %}

				<ul>
					<li><a class="navButton" href="{{ url_for('routes.home')}}">Home</a></li>
					<li><a class="navButton active" href="{{ url_for('routes.learn')}}">Learn</a></li>
					<li><a class="navButton" href="#">Stats</a></li>
					{% if user.is_authenticated %}
					<li><a class="navButton" href="{{ url_for('auth.logout')}}">Logout</a></li>
					{% else %}
					<li><a class="navButton login" href="{{ url_for('auth.login')}}">Login</a></li>
					{% endif %}
				</ul>
			</nav>
			<div class="menu-toggle">
				<i class="fa fa-bars" aria-hidden="true"></i>
			</div>
		</header>
		<form>
			<div class="quizBox">
				<h2>Test 1</h2>

				<h3>Question 1</h3>
				<p>
					A spaceship is travelling towards a star at 100,000m/s. In the reference frame inside the spaceship,
					the speed of the light rays from the star to the spaceship would be closest to…
					<br />
				</p>
				<input id="11A" type="radio" name="question1" value="A" />
				<label for="11A"><span class="quizLetter">A</span> 299,892,458 m/s</label>

				<input id="11B" type="radio" name="question1" value="B" />
				<label for="11B"><span class="quizLetter">B</span> 299,792,458 m/s</label>
				<br />
				<input id="11C" type="radio" name="question1" value="C" />
				<label for="11C"><span class="quizLetter">C</span> 299,692,458 m/s</label>

				<input id="11D" type="radio" name="question1" value="D" />
				<label for="11D"><span class="quizLetter">D</span> 299,992,458 m/s</label>

				<h3>Question 2</h3>
				<p>
					A person running away from a light bulb and a person running towards a light bulb would measure the
					speed of the emitted light to be…
					<br />
				</p>
				<input id="12A" type="radio" name="question2" value="A" />
				<label for="12A"><span class="quizLetter">A</span> The same</label>

				<input id="12B" type="radio" name="question2" value="B" />
				<label for="12B"><span class="quizLetter">B</span> Different</label>

				<h3>Question 3</h3>
				<p>
					True or False? A person accelerating in their car can use the theory of special relativity to
					measure space-time.
					<br />
				</p>
				<input id="13A" type="radio" name="question3" value="A" />
				<label for="13A"><span class="quizLetter">True</span></label>

				<input id="13B" type="radio" name="question3" value="B" />
				<label for="13B"><span class="quizLetter">False</span></label>

				<h3>Question 4</h3>
				<p>
					True or false? The speed of a spaceship is the same in all reference frames.
					<br />
				</p>
				<input id="14A" type="radio" name="question4" value="A" />
				<label for="14A"><span class="quizLetter">True</span></label>

				<input id="14B" type="radio" name="question4" value="B" />
				<label for="14B"><span class="quizLetter">False</span></label>

				<h3>Question 5</h3>
				Space-time permeates how many dimensions?
				<input id="15" type="text" name="question5" />
				<input class="submit" id="submit1" type="submit" value="Submit" />
			</div>
		</form>
	</body>
</html>
