{% extends "base.html" %}{% block title %} LSR - Test 3{% endblock %} {% block content %}
<form id="quiz" method="POST">
	<div class="quizBox">
		<h2>Test 3</h2>

		<h3>Question 1</h3>
		<p>
			For v=0.866c, what is the value of the Lorentz factor as an integer?
			<br />
		</p>
		<input class="textAns" id="1" type="text" name="question1" autocomplete="off" />

		<h3>Question 2</h3>
		<p>
			The duration of the journey from Earth to the planet is the time interval between two events: the
			spaceship leaving Earth and the spaceship arriving on the other planet. Which observer witnesses these
			two events at the same point in space within their reference frame?
			<br />
		</p>
		<input id="2A" type="radio" name="question2" value="A" />
		<label for="2A"><span class="quizLetter">A</span> Twin in the spaceship</label>

		<input id="2B" type="radio" name="question2" value="B" />
		<label for="2B"><span class="quizLetter">B</span> Twin on Earth</label>

		<h3>Question 3</h3>
		<p>
			During the journey from the planet back to Earth, which twin observes proper time?
			<br />
		</p>
		<input id="3A" type="radio" name="question3" value="A" />
		<label for="3A"><span class="quizLetter">A</span> Twin in the spaceship</label>

		<input id="3B" type="radio" name="question3" value="B" />
		<label for="3B"><span class="quizLetter">B</span> Twin on Earth</label>

		<h3>Question 4</h3>
		<p>
			If the journey from Earth to the planet takes 10 years for the twin inside the spaceship, how many years
			will it take for the twin on Earth?
			<br />
		</p>
		<input class="textAns" id="4" type="text" name="question4" autocomplete="off" />

		<h3>Question 5</h3>
		<p>
			When reunited, how much older will the twin on Earth be compared to the twin who travelled through
			space?
		</p>
		<input class="textAns" id="5" type="text" name="question5" autocomplete="off" />
		<input class="submit" id="submit" type="submit" value="Submit" />
	</div>
</form>
<div class="rocket rocket1">
	<img src="{{ url_for('static', filename='pictures/rocket.png') }}" class="rocketIcon" />
</div>
<div class="pageArrow pageArrowDown" style="left: 20%">
	<span></span>
	<span></span>
	<span></span>
</div>
<div class="pageArrow pageArrowDown" style="right: 20%">
	<span></span>
	<span></span>
	<span></span>
</div>
{% endblock %}
